venv
.venv
.DS_Store
kluster-docs*/
docs*/
site

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
.claude
.claude-example
.mcp.json
.fran
llms.txt    

# Ignore kluster.ai Verify Code rules
.github/instructions/kluster-code-verify.instructions.md
