site_name: kluster.ai Docs
site_url: https://docs.kluster.ai/
home_url: https://www.kluster.ai/
home_name: kluster.ai
site_dir: /var/www/kluster-docs-static
docs_dir: kluster-docs
edit_uri: https://github.com/kluster-ai/docs/edit/main/
copyright: © 2026 kluster.ai. All rights reserved.
theme:
  name: material
  custom_dir: material-overrides
  favicon: assets/images/logo.png
  logo: assets/images/logofull.png
  icon:
    edit: material/github
    admonition: 
      code: material/code-tags
  font:
    text: Space Grotesk
    code: Source Code Pro
  features:
    - announce.dismiss
    - content.code.copy
    - navigation.footer
    - navigation.sections
    - toc.follow
    - content.action.edit
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
extra_css:
  - assets/stylesheets/terminal.css
  - assets/stylesheets/timeline-neoteroi.css
  - assets/stylesheets/copy-to-llms.css
extra_javascript:
  - js/clipboardCopy.js
  - js/copy-to-llms.js
markdown_extensions:
  - admonition
  - attr_list
  - codehilite
  - md_in_html
  - meta
  - neoteroi.timeline
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - material-overrides/.icons
  - pymdownx.keys
  - pymdownx.snippets:
      base_path: kluster-docs/.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: ＃
plugins:
  - search
  - awesome-nav
  - glightbox
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      cache_safe: true
      js_files:
        - js/clipboardCopy.js
        - js/copy-to-llms.js
      css_files:
        - assets/stylesheets/terminal.css
        - assets/stylesheets/timeline-neoteroi.css
        - assets/stylesheets/copy-to-llms.css
      scoped_css_templates:
        home.html:
          - assets/stylesheets/home.css
        main.html:
          - assets/stylesheets/kluster.css
  - macros:
      include_yaml:
        - kluster-docs/variables.yml
  - resolve_md: 
      llms_config: llms_config.json
  - social:
      enabled: !ENV [SOCIAL_CARDS, True]
      cards_layout_dir: layouts
      cards_layout: kluster
      cards_layout_options:
        background_image: null
        background_color: "#060809"
        logo: images/kluster-logo.png
        title: kluster.ai Documentation
validation:
  absolute_links: ignore
extra:
  consent:
    title: This website uses cookies
    description: >-
      We use essential cookies to make the website work. We would also like to use cookies to understand how you use the website and how you interact with certain features. We may share this information with our analytics partners. For further details, please see our <a href="https://www.kluster.ai/privacy-policy" target="_blank" rel="noopener">cookie policy</a>.
    actions:
      - accept
      - manage
      - reject
  generator: !!bool false
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.com/invite/klusterai
      name: Discord
    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/klusterai
      name: X
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/kluster-ai/
      name: LinkedIn
  analytics:
    provider: google
    property: AW-11500721833
  # TODO: set up feedback
  #   feedback:
  #     title: Was this page helpful?
  #     ratings:
  #       - icon: material/emoticon-happy-outline
  #         name: This page was helpful
  #         data: 1
  #         note: >-
  #           Thanks for your feedback!
  #       - icon: material/emoticon-sad-outline
  #         name: This page could be improved
  #         data: 0
  #         note: >-
  #           Thanks for your feedback! Help us improve this page by submitting
  #           <a href="https://github.com/XXX/XXX/issues/new/?title=[Feedback]+{title}+-+{url}" target="_blank" rel="noopener">additional feedback</a>.
