{% extends "main.html" %}

{% block htmltitle %}
  <title>kluster.ai Documentation</title>
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />
{% endblock %}

{% block content %}
  <div class="hero">
    <img src="{{ 'assets/images/testbg.png' | url }}" alt="" class="hero-bg" />

    <div class="hero-content">
      <h1>
        Run and fine-tune your LLMs on 
        <span class="hero-logo-inline">
          <img src="{{ 'assets/images/logo.png' | url }}" alt="{k}" />
        </span>
        <a href="https://www.kluster.ai" target="_blank" class="hero-link">kluster.ai</a><br>
        global distributed AI platform
      </h1>

      <div class="button-wrapper">
        <a class="framer-Bja7l framer-1v7ikbi framer-v-1v7ikbi framer-aotcnd" 
           href="https://platform.kluster.ai/" 
           target="_blank" 
           rel="noopener" 
           data-framer-name="Variant 1">
          <div class="framer-follse" data-framer-name="Gradient Loop Stroke">
            <div data-framer-background-image-wrapper="true">
              <img decoding="async" src="{{ 'assets/images/rainbow.gif' | url }}" alt="">
            </div>
          </div>
          <div class="framer-1a164ql" data-framer-name="Overlay"></div>
          <div class="framer-uvujyo" data-framer-name="BG"></div>
          <div class="framer-p6mefi" data-framer-component-type="RichTextContainer">
            <p class="framer-text">Start building</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="feature-cards">
    <div class="feature-card">
      <div class="feature-header">
        {% include ".icons/octicons/zap-16.svg" %}
        <h2>Real-time <br /> Inference</h2>
      </div>  
      <p>Instant predictions backed by autoscaling infrastructure. Built for latency-sensitive LLM applications.</p>
      <a href="get-started/start-building/real-time/" class="card-button">Learn More</a>
    </div>

    <div class="feature-card">
      <div class="feature-header"> 
        {% include ".icons/octicons/list-unordered-16.svg" %}
        <h2>Batch<br /> Inference</h2>
      </div> 
        <p>Process large datasets with parallel inference at scale. Ideal for precomputing outputs or automating bulk tasks.</p>
      <a href="/get-started/start-building/batch/" class="card-button">Run Batch Job</a>
    </div>

    <div class="feature-card">
      <div class="feature-header"> 
        {% include ".icons/octicons/tools-16.svg" %}
        <h2>Fine-Tune<br /> Models</h2>
      </div>
      <p>Refine models with your data to reduce costs and boost efficiency, without sacrificing accuracy.</p>
      <a href="/tutorials/klusterai-api/finetuning-sent-analysis/" class="card-button">Fine-Tune a Model</a>
    </div>
        
    <div class="feature-card">
      <div class="feature-header"> 
        {% include ".icons/octicons/mortar-board-16.svg" %}
        <h2>Verify</h2>
      </div> 
      <p>Not all LLM responses are equal. Use Verify to assess quality and reliability before taking action or showing results to users.</p>
      <a href="/get-started/verify/overview/" class="card-button">Explore Verify</a>
    </div>
  </div>

  

  <div class="cta-section">
    <h2 class="cta-title">Built for developers by developers</h2>

    <div class="button-grid">
      <a href="/api-reference/reference/" class="button-card">
        <span class="icon">{% include ".icons/octicons/code-16.svg" %}</span>
        <div class="button-info">
          <h3>API Reference</h3>
          <p>Grab your API key to build and manage on kluster.ai</p>
        </div>
      </a>

      <a href="/tutorials/klusterai-api/text-classification/text-classification-openai-api/" class="button-card">
        <span class="icon">{% include ".icons/octicons/book-16.svg" %}</span>
        <div class="button-info">
          <h3>Tutorials</h3>
          <p>Follow step-by-step tutorials to build and deploy with kluster.ai</p>
        </div>
      </a>

      <a href="/get-started/models/" class="button-card">
        <span class="icon">{% include ".icons/octicons/comment-discussion-16.svg" %}</span>
        <div class="button-info">
          <h3>Supported Models</h3>
          <p>Check out the latest supported LLMs and deployment-ready models</p>
        </div>
      </a>
    </div>
  </div>
{% endblock %}