{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ 'assets/stylesheets/kluster.css' | url }}" />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap"
    rel="stylesheet"
  />
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block site_meta %}
  {{ super() }}
  {% if page and page.meta and page.meta.keywords %}
    <meta name="keywords" content="{{ page.meta.keywords }}" />
  {% endif %}
{% endblock %}

{%- block htmltitle -%}
  {%- if page.is_homepage -%}
    <title>Documentation for kluster.ai</title>
  {%- elif page and page.meta and page.meta.title -%}
    <title>{{ page.meta.title }} | {{ config.site_name }}</title>
  {%- elif page and page.title and not page.is_homepage -%}
    <title>{{ page.title }} | {{ config.site_name }}</title>
  {%- else -%}
    <title>{{ config.site_name }}</title>
  {%- endif -%}
{%- endblock -%}

<!-- {# {% block announce %}
  <p>
    🛡️ Build with confidence. Code Reviews checks your AI-generated code for errors and security risks in real time. <a href="/code-reviews/">See how it works</a>.
  </p>
{% endblock %} #} -->

{%- block container -%}
  <div class="md-content" data-md-component="content">
    {% set class = "index-page" if not page.content and not page.is_homepage %}
    <article class="md-content__inner md-typeset {{ class }}">
      {% block content %}
        {% include "partials/content.html" %}
      {% endblock %}
    </article>
    {% if "navigation.footer" in features %}
      {% if page.previous_page or page.next_page %}
        {% if page.meta and page.meta.hide %}
          {% set hidden = "hidden" if "footer" in page.meta.hide %}
        {% endif %}
        <nav class="md-footer__inner md-grid" aria-label="{{ lang.t('footer') }}" {{ hidden }}>
          {% if page.previous_page %}
            {% set direction = lang.t("footer.previous") %}
            <a href="{{ page.previous_page.url | url }}" 
              class="md-footer__link md-footer__link--prev" 
              aria-label="{{ direction }}: {{ page.previous_page.title | e }}"
            >
              <div class="md-footer__button md-icon">
                {% set icon = config.theme.icon.previous or "material/arrow-left" %}
                {% include ".icons/" ~ icon ~ ".svg" %}
              </div>
              <div class="md-footer__title">
                <span class="md-footer__direction">
                  {{ direction }}
                </span>
                <div class="md-ellipsis">
                  {{ page.previous_page.title }}
                </div>
              </div>
            </a>
          {% endif %}
          {% if page.next_page %}
            {% set direction = lang.t("footer.next") %}
            <a href="{{ page.next_page.url | url }}" 
              class="md-footer__link md-footer__link--next" 
              aria-label="{{ direction }}: {{ page.next_page.title | e }}"
            >
              <div class="md-footer__title">
                <span class="md-footer__direction">
                  {{ direction }}
                </span>
                <div class="md-ellipsis">
                  {{ page.next_page.title }}
                </div>
              </div>
              <div class="md-footer__button md-icon">
                {% set icon = config.theme.icon.next or "material/arrow-right" %}
                {% include ".icons/" ~ icon ~ ".svg" %}
              </div>
            </a>
          {% endif %}
        </nav>
      {% endif %}
    {% endif %}
  </div>
{%- endblock -%}

{% block scripts %}
  {{ super() }}
  <script>
    const link = document.querySelector("link[rel~='icon']");
    if (link) {
      const isDarkMode = window.matchMedia(
        "(prefers-color-scheme: dark)"
      ).matches;
      isDarkMode
        ? (link.href = "{{ 'assets/images/favicon-dark-mode.png' | url }}")
        : (link.href = "{{ 'assets/images/favicon-light-mode.png' | url }}");
    }
  </script>

  <script>
    const content = document.querySelector(".md-content");
    const header = document.querySelector(".md-header");
    const footer = document.querySelector(".md-footer");

    function updateContentHeight() {
      if (content && header && footer) {
        const contentHeight = content.offsetHeight;
        const headerHeight = header.offsetHeight;
        const footerHeight = footer.offsetHeight;

        const pageHeight = headerHeight + footerHeight + contentHeight;
        const viewportHeight = window.innerHeight;

        if (pageHeight < viewportHeight) {
          content.style.minHeight = `${viewportHeight - headerHeight - footerHeight}px`;
        } else {
          content.style.minHeight = "auto";
        }
      }
    }

    updateContentHeight();
    window.addEventListener("resize", updateContentHeight);
  </script>
{% endblock %}