<footer class="md-footer">
  {% if "navigation.footer" in features %} {% if page.previous_page or
  page.next_page %} {% if page.meta and page.meta.hide %} {% set hidden =
  "hidden" if "footer" in page.meta.hide %} {% endif %}
  <nav
    class="md-footer__inner md-grid"
    aria-label="{{ lang.t('footer') }}"
    {{
    hidden
    }}
  >
    {% if page.previous_page %} {% set direction = lang.t("footer.previous") %}
    <a
      href="{{ page.previous_page.url | url }}"
      class="md-footer__link md-footer__link--prev"
      aria-label="{{ direction }}: {{ page.previous_page.title | e }}"
    >
      <div class="md-footer__button md-icon">
        {% set icon = config.theme.icon.previous or "material/arrow-left" %} {%
        include ".icons/" ~ icon ~ ".svg" %}
      </div>
      <div class="md-footer__title">
        <span class="md-footer__direction"> {{ direction }} </span>
        <div class="md-ellipsis">{{ page.previous_page.title }}</div>
      </div>
    </a>
    {% endif %} {% if page.next_page %} {% set direction = lang.t("footer.next")
    %}
    <a
      href="{{ page.next_page.url | url }}"
      class="md-footer__link md-footer__link--next"
      aria-label="{{ direction }}: {{ page.next_page.title | e }}"
    >
      <div class="md-footer__title">
        <span class="md-footer__direction"> {{ direction }} </span>
        <div class="md-ellipsis">{{ page.next_page.title }}</div>
      </div>
      <div class="md-footer__button md-icon">
        {% set icon = config.theme.icon.next or "material/arrow-right" %} {%
        include ".icons/" ~ icon ~ ".svg" %}
      </div>
    </a>
    {% endif %}
  </nav>
  {% endif %} {% endif %}
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <div class="md-footer__buttons">
        {# Header button (copied from kluster.ai) #}
        <div class="button-container">
          <div class="framer-1suqwmq-container" data-framer-appear-id="1suqwmq">
            <button
              class="framer-Bja7l framer-1v7ikbi framer-v-1v7ikbi framer-aotcnd llms-copy-button full-llms"
              title="{{ lang.t('clipboard.copy') }}"
              data-action="copy"
              data-value="llms-full.txt"
              data-framer-name="Variant 1"
            >
              <div
                class="framer-follse"
                data-framer-name="Gradient Loop Stroke"
              >
                <div data-framer-background-image-wrapper="true">
                  <img
                    decoding="async"
                    src="/assets/images/rainbow.gif"
                    alt=""
                  />
                </div>
              </div>
              <div class="framer-1a164ql" data-framer-name="Overlay"></div>
              <div class="framer-uvujyo" data-framer-name="BG"></div>
              <div
                class="framer-p6mefi"
                data-framer-component-type="RichTextContainer"
              >
                <p class="framer-text">
                  {% include ".icons/material/content-copy.svg" %} llms-full.txt
                </p>
              </div>
            </button>
          </div>
        </div>
      </div>
      {% include "partials/copyright.html" %}

      <div class="papermoon">
        <span
          >Made with 🩵 by
          <a href="https://papermoon.io/" target="_blank">PaperMoon</a></span
        >
      </div>
      {% if config.extra.social %} {% include "partials/social.html" %} {% endif
      %}
    </div>
  </div>
</footer>
