<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <div class="md-footer">
        <a href="/ai-resources/">AI Resources</a>
      </div>
      <div class="md-footer__center-column">
        {% include "partials/copyright.html" %}
        <div class="papermoon">
          <span
            >Made with 🩵 by
            <a href="https://papermoon.io/" target="_blank">PaperMoon</a></span
          >
        </div>
      </div>
      {% if config.extra.social %} 
        <div class="md-footer__social">
          {% include "partials/social.html" %}
        </div>
      {% endif %}
    </div>
  </div>
</footer>
