@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

.md-content__inner {
  margin-top: 0;
}

.md-content__inner:before {
  height: 0;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.md-main__inner {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Image styling */
.md-typeset img {
  border-radius: unset;
  box-shadow: unset;
}

/* Styles for the hero section */
.hero {
  position: relative;
  overflow: hidden;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 4rem;
}

img.hero-bg {
  border: 2px solid var(--light-green);
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  border-radius: 2rem;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 75%;
  text-align: center;
  padding: 1.5rem;
  color: var(--md-default-fg-color);
}

.hero-logo-inline img {
  height: 1.2em;
  vertical-align: middle;
  margin: 0 0.25em;
}

a.hero-link {
  color: var(--light);
}

.hero h1 {
  color: var(--light-green);
  font-family: 'Space Grotesk';
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 2em;
  margin-top: 1em;
}

.hero p {
  font-size: 1.125rem;
  margin: 1em 0 1em;
}

.button-wrapper {
  display: flex;
  width: max-content;
  margin: auto;
}

.button-wrapper .md-button {
  margin-right: 1em;
}

.button-wrapper .md-button:hover {
  background-color: --md-code-fg-color; /* Change the background color to purple */
  color: white; /* Ensure the text color is white for better contrast */
}

.feature-cards {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin: 3rem auto 4rem;
  flex-wrap: wrap;
}

.feature-card {
  padding: 3rem;
  border-radius: 1em;
  background-color: var(--dark);
  border: 1px solid var(--light-green);
  width: 100%;
  max-width: 500px;
  min-height: 341px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-header {
  margin: 1em 0;
  display: flex;
  align-items: center;
  gap: 1em;
}    

.feature-card svg {
  fill: var(--electric-indigo);
  width: 65px; /* change it to  responsive later */
}

.feature-card h2 {
  color: var(--light-green);
  font-weight: 800;
  font-family: 'Space Grotesk';
  margin: 0;
  font-size: 1.2rem;
}

.feature-card p {
  padding: 1em;
  margin-top: 1em;
  font-family: 'Space Grotesk';
  font-size: 0.9rem;
  color: var(--light-green);
  flex-grow: 1;
}

.card-button {
  margin-top: 1rem;
  background-color: var(--light-green);
  padding: 0.5rem 1rem;
  border-radius: 12px;
}

a.card-button {
    color: var(--dark);
    font-family: 'Space Grotesk';
    font-weight: 800;
}

h2.cta-title {
  color: var(--light-green);
  font-family: 'Space Grotesk';
  font-weight: 800;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 4rem;
}

.button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 4rem;
}

.button-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--dark);
  color: var(--md-default-fg-color);
  padding: 1.5rem;
  border-radius: 1em;
  flex: 1 1 calc(33.333% - 1rem);
  gap: 0.5em;
  border: 1px solid var(--light-green);
}

.button-card .icon {
  flex-shrink: 0;
}

.button-card .icon svg {
  fill: var(--electric-indigo);
  width: 36px;
  height: 36px;
}

.button-info h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
  color: var(--light-green);
  font-family: 'Space Grotesk';
  font-weight: 800;
}

.button-info p {
  font-family: 'Space Grotesk';
  font-weight: 300;
  margin: 0;
  font-size: 0.9rem;
  color: var(--light-green);
}






/* Mobile styling */
@media screen and (max-width: 1219px) {
  .featured-content {
    justify-content: center;
  }
}

@media screen and (max-width: 1050px) {
  .md-typeset img.hero-image {
    display: none;
  }

  .feature img {
    width: 40%;
    max-width: 40%;
    height: auto;
  }

  .hero-content {
    position: relative; /* Adjust to keep it centered */
    transform: none; /* Reset transform properties */
    top: auto;
    left: auto;
    width: 90%; /* Ensure content fits well on mobile */
    max-width: 90%; /* Ensure content fits well on mobile */
    padding: 1rem; /* Adjust padding for mobile */
    margin: 0 auto; /* Center the content on mobile */
  }
}

@media screen and (max-width: 76.234375em) {
  .md-content__inner {
    padding: 1em;
  }
}

@media screen and (max-width: 76.234375em) {
  .feature {
    width: 100%;
  }

  .button-wrapper {
    flex-direction: column;
  }

  .button-wrapper .md-button {
    margin: 0.5em auto;
  }

  .hero h1 {
    font-size: 2em;
  }
}

.feature p a {
  display: inline;
  white-space: nowrap;
}
